{% load static %}
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
          <img src="https://avatars.githubusercontent.com/u/165701832?s=200&v=4" class="h-8 rounded-lg" alt="">    
      </a>
      <p class="my-6 text-gray-500 dark:text-gray-400">Verimlilik, kullanıcı deneyimi ve gizlilik odaklı yeni nesil kişisel gelişim platformu.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
          <li>
              <a href="/" class="mr-4 hover:underline md:mr-6 ">Ana Sayfa</a>
          </li>
          <li>
              <a href="https://github.com/zirveapp" target="_blank" class="mr-4 hover:underline md:mr-6">GitHub</a>
          </li>
          <li>
              <a href="mailto:ekinnos@tutanota.com" class="mr-4 hover:underline md:mr-6 ">İletişim</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Zirve™</a>. Tüm Hakları Saklıdır.</span>
  </div>
</footer>